- thumbnail_class = 'poster-watched' if @watched_movies.include?(movie.id)
- thumbnail_class = 'poster-watchlist' if @watchlist_movies.include?(movie.id)
.col-xs-4.col-sm-3.col-md-3.col-lg-2
  .thumbnail.thumbnail-poster{class: thumbnail_class}
    = link_to movie_path(movie) do
      = poster_image_for movie, :md, alt: "#{movie.title} (#{movie.year})"
      .caption.hidden-xs
        %h2= movie.title
        - if movie.year
          %p= movie.year
        - if movie.genres
          %ul.list-inline
            - movie.genres.each do |genre|
              %li.small= genre.name
