= backdrop_for @movie
.container-fluid#wrapper
  .row
    .col-sm-3.left-column
      .thumbnail.thumbnail-poster.hidden-xs
        = poster_image_for @movie, :lg, alt: "#{@movie.title} (#{@movie.year})"
      = render partial: 'list_toggler'
    .col-sm-6.center-column
      %h1.movie-title
        = @movie.title
      %ul.list-inline.list-meta.text-muted
        - if @movie.year
          %li= @movie.year
        - if @movie.genres
          %li
            = @movie.genres.pluck(:name).join(' &middot; ').html_safe

      = render partial: 'ratings_inline'

      %p.lead= @movie.description

      = render partial: 'cast_and_crew'

      - unless @recommended_movies.empty?
        %h3 Recommended movies
        .row
          %ul.media-list
            = render partial: 'recommended_movie', collection: @recommended_movies, as: :movie
    .col-sm-3
      - if @movie.released_on
        %dl
          %dt Release date
          %dd.text-muted
            = fa_icon 'calendar', text: @movie.released_on.strftime('%e %B %Y')
      - if @movie.runtime
        %dl
          %dt Runtime
          %dd.text-muted
            = fa_icon 'clock-o', text: format_runtime(@movie.runtime)
      - if @movie.mpaa_rating
        %dl
          %dt MPAA rating
          %dd.text-muted
            = fa_icon 'ticket', text: @movie.mpaa_rating
      - if @movie.countries
        %dl
          %dt Countries
          %dd.text-muted
            = fa_icon 'globe', text: @movie.countries.map(&:name).join(', ')
      - if @movie.languages
        %dl
          %dt Languages
          %dd.text-muted
            = fa_icon 'comments-o', text: @movie.languages.map(&:name).join(', ')
      - if @movie.keywords.present?
        %dl.keywords.hidden-xs
          %dt
            Keywords
            %span.keywords-expander
              = link_to fa_icon('angle-down'), '#'
          %dd.text-muted
            %ul.list-inline
              - @movie.keywords.each do |kw|
                = content_tag :li, class: 'label-keyword' do
                  = fa_icon 'tag', text: kw.name
= sublime_video @trailer.youtube_id if @trailer
