.row.movie-details
  .col-xs-12.col-sm-4.col-md-4.col-lg-3
    .thumbnail.no-border
      = poster_image_for @movie, :lg, class: 'thumbnail-poster img-rounded', alt: "#{@movie.title} (#{@movie.year})"
      
    - if @trailer
      = trailer_button @trailer.youtube_id
      = sublime_video @trailer.youtube_id
      
  .col-xs-12.col-sm-8.col-md-8.col-lg-9
    %header
      %h1= @movie.title
    %ul.list-inline.list-meta.small.text-muted
      - if @movie.year
        %li
          %span.label.label-default= @movie.year
      - if @movie.genres
        %li
          = fa_icon 'tags', text: @movie.genres.pluck(:name).join(' &middot; ').html_safe
      - if @movie.runtime
        %li
          = fa_icon 'clock-o', text: format_runtime(@movie.runtime)
      - if @movie.mpaa_rating
        %li
          = fa_icon 'ticket', text: @movie.mpaa_rating
    
    = render partial: 'list_toggler'
    
    %p= @movie.description
    
    %dl.dl-compact
      %dt Stars
      %dd
        = @movie.stars.map(&:name).join(', ')
    %dl.dl-compact
      %dt Directed by
      %dd
        = @movie.directors.uniq.map(&:name).join(', ')
    %dl.dl-compact
      %dt Written by
      %dd
        = @movie.writers.uniq.map(&:name).join(', ')
    
%h4
  Cast
  = link_to '#', class: 'credits-expander pull-right' do
    Show All
    = fa_icon('chevron-circle-down')

.row.credits-row
  %ul.media-list.credits-list
    - @movie.actorships.order(:id).map do |actor|
      %li.media.col-lg-3.col-md-4.col-sm-6
        %a.pull-left{href: '#'}
          %img.media-object.img-rounded{src: 'http://placehold.io/80/110.png', width: 80, heigth: 110}
        .media-body
          %h5
            %a{href: '#'}= actor.person.name
          %small.credits-text
            %em= actor.credit
