%form.visible-xs#sidebar-search-form
  .input-group
    %span.input-group-btn
      %button.btn.btn-default{type: 'submit'}
        = fa_icon 'search'
    %input.form-control{type: 'text', placeholder: 'Movies, people, anything'}
.list-group
  %h5.list-group-header
    My Flows
    %span.pull-right
      = link_to fa_icon('plus-circle'), '#'
  %a.list-group-item{href: '#'}
    %span.badge 120
    Watch Later
  %a.list-group-item{href: '#'}
    %span.badge 74
    Recently Watched
  %a.list-group-item{href: '#'}
    %span.badge 42
    Favorites
  %a.list-group-item{href: '#'}
    %span.badge 13
    Superhero Movies
  %a.list-group-item{href: '#'}
    %span.badge 8
    Awesome Blockbusters
.list-group
  %h5.list-group-header
    Discover
    %span.pull-right
      = fa_icon('star')
  %a.list-group-item{href: '#'}
    Generes
  %a.list-group-item{href: '#'}
    Popular Now
  %a.list-group-item{href: '#'}
    Coming Soon
  %a.list-group-item{href: '#'}
    Spotlight
  %a.list-group-item{href: '#'}
    Top 1000
  %a.list-group-item{href: '#'}
    People
- if current_user
  .list-group
    %h5.list-group-header
      = display_name_for current_user
      %span.pull-right
        = link_to fa_icon('circle'), '#', title: 'You have new notifications'
    = link_to profile_path, class: 'list-group-item' do
      = fa_icon 'user', text: 'Profile'
    = link_to '#', class: 'list-group-item' do
      = fa_icon 'inbox', text: 'Inbox'
    = link_to '#', class: 'list-group-item' do
      = fa_icon 'cog', text: 'Settings'
    = link_to signout_path, class: 'list-group-item', method: :delete do
      = fa_icon 'sign-out', text: 'Sign Out'
.list-group
  %h5.list-group-header
    FlickFlow Admin
    %span.pull-right
      = fa_icon('lock')
  = link_to admin_root_path, class: 'list-group-item' do
    = fa_icon 'dashboard', text: 'Dashboard'
  = link_to admin_movies_path, class: 'list-group-item' do
    = fa_icon 'film', text: 'Movies'
  = link_to '#', class: 'list-group-item' do
    = fa_icon 'users', text: 'People'
  = link_to '#', class: 'list-group-item' do
    = fa_icon 'list', text: 'Lists'
  = link_to '#', class: 'list-group-item' do
    = fa_icon 'users', text: 'Users'