.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          = fa_icon 'bars', text: 'Discover'
          %span= fa_icon 'angle-down'
        %ul.dropdown-menu
          %li.visible-xs= link_to 'Popular Now', root_path
          %li= link_to 'Coming Soon', '#'
          %li= link_to 'By Genre', '#'
          %li= link_to 'Spotlight', '#'
          %li= link_to 'Top 1000', '#'
          %li= link_to 'People', '#'
      %li.hidden-xs= link_to 'Popular Now', root_path
    %ul.nav.navbar-nav.navbar-right
      %li= link_to fa_icon('star', text: 'Watchlist'), watchlist_path
      %li.hidden-xs= link_to fa_icon('check-square-o', text: 'Watched'), watched_path
      %li.hidden-xs= link_to fa_icon('heart', text: 'Favorites'), favorites_path
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
          = fa_icon 'user'
          %span.hidden-xs= current_user.name
          %span= fa_icon 'angle-down'
        %ul.dropdown-menu
          %li.visible-xs= link_to fa_icon('check-square-o', text: 'Watched'), watched_path
          %li.visible-xs= link_to fa_icon('heart', text: 'Favorites'), favorites_path
          %li.divider.visible-xs
          %li= link_to fa_icon('cog', text: 'Profile'), profile_path
          %li= link_to fa_icon('sign-out', text: 'Sign Out'), signout_path

