%nav.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{type: 'button', data: {target: '#ff-navbar-collapse', toggle: 'collapse'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'flickflow', root_path, {class: 'navbar-brand'}
    #ff-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: "#{is_active? 'movies'}"}
          = link_to fa_icon('film', text: 'Movies'), root_path
        %li{class: "#{is_active? 'people'}"}
          = link_to fa_icon('users', text: 'People'), '#'
        %li{class: "#{is_active? 'lists'}"}
          = link_to fa_icon('list', text: 'Lists'), '#'
      = render 'shared/user_dropdown'