%nav#left-sidebar.navmenu.navmenu-default.navmenu-fixed-left.offcanvas
  = render 'shared/left_sidebar'

%nav.navmenu.navmenu-default.navmenu-fixed-right.offcanvas#right-sidebar
  = yield :right_sidebar

.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    %a.navbar-toggle.btn.btn-default#left-sidebar-toggle{type: 'button', data: {target: '#left-sidebar', toggle: 'offcanvas', canvas: 'body'}}
      = fa_icon 'bars'
    %a.navbar-toggle.btn.btn-default#right-sidebar-toggle{type: 'button', data: {target: '#right-sidebar', toggle: 'offcanvas', canvas: 'body'}}
      = fa_icon 'users'
    %form.navbar-form.hidden-xs#search-form
      .input-group
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'}
            = fa_icon 'search'
        %input.form-control#navbar-search{type: 'text', placeholder: 'Movies, people, anything'}
    = link_to 'FlickFlow', root_path, class: 'navbar-brand'
