!!!
%html
  %head
    %title= title
    = stylesheet_link_tag    'pages', media: 'all'
    = javascript_include_tag 'pages'
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no"}/
    = csrf_meta_tags
  %body
    = render 'shared/flash_messages'
    = yield
